$babble-dark: #353744;
$babble-light: #f9f9f9;
$babble-border: #d7d7d7;

$babble-sidebar-green: #61d290;
$babble-chatcircle-green: #5ed395;

$babble-font-family: Nunito, sans-serif;
$babble-font-color: #616161;
$babble-mobile-min: 320px; // mobile breakpoint
$babble-desktop-min: 638px; // desktop breakpoint

$babble-modal-minheight: 25rem;
$babble-modal-minwidth: 1.5*$babble-modal-minheight;
$babble-modal-radius: 1rem;
$babble-modal-head-height: 2rem;

$babble-image-size: 3rem;
$babble-message-minwidth: 300px;
$babble-message-marginright: 40px;
$babble-message-radius: 0.5rem;
$babble-message-selected-bg: #ebedec;
$babble-message-bg: #ffffff;

$babble-author-color: #202729;
$babble-send-time: #999999;