* {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important; }

body {
  font-family: Nunito, sans-serif; }

.u-hidden {
  display: none;
  visibility: hidden; }

.u-hiddenReadeable {
  display: none; }

.u-fullSize {
  height: 100%;
  width: 100%; }

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular"), url(https://fonts.gstatic.com/s/nunito/v8/qEjAkCC_I8-NsX6aYiQHCfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular"), url(https://fonts.gstatic.com/s/nunito/v8/cSNs3NwpEgPVRQzvkh3NeQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local("Nunito Bold"), local("Nunito-Bold"), url(https://fonts.gstatic.com/s/nunito/v8/uGMHL94-PyB0HAplpWqScBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local("Nunito Bold"), local("Nunito-Bold"), url(https://fonts.gstatic.com/s/nunito/v8/TttUCfJ272GBgSKaOaD7KltXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

.FlexGrid {
  display: flex;
  flex-direction: column; }
  .FlexGrid-row {
    display: flex;
    flex-direction: row; }

.u-flex1 {
  flex: 1; }

.u-alignItemsCenter {
  align-items: center; }

.u-flexJustifySpaceBetween {
  justify-content: space-between; }

.u-flexRight {
  margin-right: auto; }

.ModalContainer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  display: flex;
  align-items: center;
  justify-content: center; }

.Modal {
  min-height: 25rem;
  min-width: 37.5rem;
  background: #f9f9f9;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1rem; }

.ModalHeader {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 2rem;
  background: #353744;
  color: #f9f9f9;
  padding: 1rem; }
  .ModalHeader-title {
    font-weight: normal;
    flex: 1; }
  .ModalHeader-xbtn {
    background: transparent;
    border: solid 1px #f9f9f9;
    border-radius: 0.25rem;
    color: #f9f9f9;
    width: 2rem;
    height: 2rem; }
    .ModalHeader-xbtn:hover {
      background: #62657d; }
    .ModalHeader-xbtn:active {
      background: #4b4e61; }

body {
  background: #f9f9f9;
  color: #616161; }

.Head {
  background: #353744;
  height: 5rem;
  padding: 1rem; }
  .Head-logo {
    height: 100%;
    float: left; }
  .Head-title {
    color: #f9f9f9;
    font-weight: normal; }

.MainContainer {
  width: 100%; }

.Main {
  width: 100%; }

.Main-head {
  padding: 1rem; }

.ChatTitle {
  font-weight: normal;
  font-size: 1.75rem; }

.ChatView {
  flex: 1;
  overflow-y: scroll; }

.ChatStats {
  display: inline-table;
  font-weight: bold;
  color: #000; }
  .ChatStats-img, .ChatStats-text {
    display: inline-block;
    vertical-align: middle;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.9rem; }
  .ChatStats-img--person {
    margin-left: 0.5rem;
    margin-right: -0.25rem; }
  .ChatStats dt, .ChatStats dd {
    height: 100%;
    display: inline-block; }

.Message {
  display: flex;
  padding: 1rem; }
  .Message-im {
    height: 3rem;
    border-radius: 3rem; }
  .Message-author {
    color: #202729;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    margin-right: 0.5rem; }
  .Message-time {
    color: #999999;
    margin-right: 1rem; }
  .Message-delBtn {
    border-width: 0px;
    background: transparent;
    font-weight: bold;
    margin-left: auto; }

.MessageInner {
  border: 1px solid #d7d7d7;
  background: #ffffff;
  margin-left: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-right: 40px; }
  .MessageInner .MessageInner-top {
    display: flex;
    align-content: center;
    width: 100%; }

.ChatSubmit {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem; }
  .ChatSubmit-text {
    height: calc(100% - 5rem);
    width: 80%;
    padding: 0.5rem;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    resize: none;
    border-radius: 0.5rem;
    border: 1px solid #d7d7d7; }
    .ChatSubmit-text:focus {
      outline: none;
      border: 1px solid #4D90FE; }
  .ChatSubmit-submit {
    background: transparent url(../images/send.png) no-repeat;
    background-size: contain;
    background-position: middle center;
    border-width: 0px;
    width: 10%;
    max-width: 80px;
    height: calc(85% - 5rem);
    margin-left: 1rem; }

@media only screen and (min-width: 638px) {
  .Nav {
    background: #61d290;
    width: 15rem; }
  .ChatSubmit {
    border: 1px solid #d7d7d7;
    background: #fff;
    margin: 0;
    height: 100%;
    max-height: 100px; }
    .ChatSubmit-text {
      flex: 1;
      width: auto;
      height: calc(100% - 1em);
      border-width: 0px;
      border-radius: 0px; }
    .ChatSubmit-submit {
      min-height: 80%;
      max-height: 150px;
      margin: 0 1em; } }

/**/
/*
  Signup Dialog
*/
.SignupDialog-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #353744;
  /* Fallback color */
  background: rgba(53, 55, 68, 0.6);
  /* Black w/ opacity */ }

.SignupDialog {
  width: 85%;
  height: 85%;
  max-height: 60%;
  border: 1px solid #d7d7d7;
  background: #f9f9f9;
  padding: 1rem;
  margin: 0 auto; }

.SignupDialog input, .SignupDialog button {
  border: 1px solid #d7d7d7;
  font-family: "Nunito", Arial, sans-serif;
  padding: 0.45rem;
  margin: 0.45rem;
  font-weight: bold; }

.SignupDialog input:last-child, .SignupDialog button:last-child {
  margin-right: 0px; }

.SignupDialog-header {
  height: 2rem; }

.SignupDialog-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 3rem); }

.SignupDialog-formRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 1em 0; }

.SignupDialog-formRow--last {
  margin-top: auto;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0; }

.SignupDialog-submitBtn {
  background: #62bd61;
  background: linear-gradient(to bottom, #7cd650, #48a371);
  color: #ffffff; }

.SignupDialog-submitBtn:hover {
  background: linear-gradient(to bottom, #9be079, #64ba8b); }

.SignupDialog-submitBtn:active {
  background: linear-gradient(to bottom, #60c52e, #388058); }

.SignupDialog-cancelBtn {
  background: #c5c5c5;
  background: linear-gradient(to bottom, #d4d4d4, #b5b5b5); }

.SignupDialog-cancelBtn:hover {
  background: linear-gradient(to bottom, #eeeeee, #cfcfcf); }

.SignupDialog-cancelBtn:active {
  background: linear-gradient(to bottom, #bbbbbb, #9c9c9c); }
